<div class="table-area">
  <ng-container *ngFor="let item of items;index as i" >
    <app-item-list-text-pop [vo]="item" [index]="i" (onModify)="onModify($event)"></app-item-list-text-pop>
  </ng-container>
  <app-item-modify-texts-pop *ngIf="actionModify==true" [posY]="posY" [vo]="modifyVO" (onCancel)="onModifyCancel($event)" (onSubmit)="onModifySubmit($event)"></app-item-modify-texts-pop>
</div>
<div class="pop-container">

  <clr-modal [(clrModalOpen)]="modifySuccessPop" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <p class="modal-title app-title">Success!</p>
    <div class="modal-body">
      <div class="csb-modal-container">
        <p>Success - item has been modified!</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-success btn-block" (click)="closePops()">{{okVO?.name}}</button>
    </div>
  </clr-modal>
  <clr-modal [(clrModalOpen)]="modifyErrorPop" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <p class="modal-title app-title">Error!</p>
    <div class="modal-body">
      <div class="csb-modal-container">
        <p>Error - item hasn't been modified!</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-warning btn-block" (click)="closePops()">{{okVO?.name}}</button>
    </div>
  </clr-modal>
</div>
