<div class="title-block" *ngIf="initialized==true">
  <p class="p6 mod--no-gap">{{titlesVO?.legend_sizes_title}}</p>
</div>

<ng-container *ngIf="initialized==true && dataIsNotComplete==false">
  <div class="list-item">
    <div class="ico-legend-area"></div>
    <p class="p8 item-txt mod--no-gap">{{areaTitle}}</p>
  </div>
  <div class="list-item" [ngClass]="valueTooSmallStartsFrom==-1?'hidden':''">
    <div class="ico-legend-small-size"></div>
    <p class="p8 item-txt mod--no-gap">{{minTitle}}</p>
  </div>
</ng-container>

<ng-container *ngIf="dataIsNotComplete==true">
  <p class="p8 item-txt mod--no-gap">{{noDataTitle?.name}}</p>
</ng-container>


