<div class="viz-map" id="viz-map">
    <viz-circles-ugly
      *ngIf="visualization_type==1"
      [route]="route"
      [centroids]="centroidData"
      [initialized]="initialized"
      [mobile]="mobile"
      [dpi]="dpi"
      [ww]="ww"
      [hh]="hh"
      [resizeEvent]="resizeEvent"
    ></viz-circles-ugly>
    <viz-circles-region-ugly
      *ngIf="visualization_type==2"
      [route]="route"
      [centroids]="centroidData"
      [initialized]="initialized"
      [mobile]="mobile"
      [dpi]="dpi"
      [ww]="ww"
      [hh]="hh"
      [resizeEvent]="resizeEvent"
    ></viz-circles-region-ugly>
    <viz-circles-sectors-ugly
      *ngIf="visualization_type==3"
      [route]="route"
      [centroids]="centroidData"
      [initialized]="initialized"
      [mobile]="mobile"
      [dpi]="dpi"
      [ww]="ww"
      [hh]="hh"
      [resizeEvent]="resizeEvent"
    ></viz-circles-sectors-ugly>
    <viz-circles-sectors-region-ugly
      *ngIf="visualization_type==4"
      [route]="route"
      [centroids]="centroidData"
      [initialized]="initialized"
      [mobile]="mobile"
      [dpi]="dpi"
      [ww]="ww"
      [hh]="hh"
      [resizeEvent]="resizeEvent"
    ></viz-circles-sectors-region-ugly>
</div>
