

// https://www.colorhexa.com/3376c4


$app-col-primary: #3376C4;
$app-col-primary-dark: #0F498D;
$app-col-secondary: #6eb504;

$app-col-text: #575757;

$app-col-primary-dark-1: #2f6db4;
$app-col-primary-dark-2: #2b63a5;
$app-col-primary-dark-3: #275a95;
$app-col-primary-dark-4: #235186;
$app-col-primary-dark-5: #1f4776;
$app-col-primary-dark-6: #1b3e67;

$app-col-primary-light-1: #3e80cd;
$app-col-primary-light-2: #4d8ad1;
$app-col-primary-light-3: #5d94d5;
$app-col-primary-light-4: #6d9fd9;
$app-col-primary-light-5: #7ca9dd;
$app-col-primary-light-6: #8cb3e1;

$app-vis-bg: #F7FBFC;

$app-col-alert: #ee4a08;
$app-col-alert-dark: #c73900;
$app-col-orange: #EE9824;

$app-col-alert-pink: #ee0050;
$app-col-alert-pink-dark: #c8004a;

$app-col-border: #DFE3E6;

$app-col-top-menu: $app-col-primary;
$app-col-footer: #1B3F68;

$app-col-button: $app-col-primary;
$app-col-button-dark: $app-col-primary;

$app-col-spinner: $app-col-primary;
$app-col-progress: $app-col-primary;
$app-col-tooltip: $app-col-primary-dark-5;

$app-col-gray:#efefef;
$app-col-gray-2: #d3d3d3;
$app-col-gray-3: #bdbdbd;
$app-col-gray-4: #a8a8a8;
$app-col-gray-5: #939393;
$app-col-gray-6: #7e7e7e;
$app-col-gray-7: #696969;
$app-col-gray-8: #545454;
$app-col-gray-9: #3f3f3f;
$app-col-gray-10: #2a2a2a;
$app-col-gray-11: #151515;

$app-col-empty: $app-col-gray-4;


$app-col-panel-background: #F7FBFC;
$app-col-panel-border: #DFE3E6;

//map
$app-map-light-bg: #F9F9F9;
$app-map-dark-bg: #0D2137;

//map-area
$app-col-map-bg: #f9f9f9;

//THEME-COLORS
$app-col-theme-1: #cd656c;
$app-col-theme-2: #32a679;
$app-col-theme-3: #0088bf;
$app-col-theme-4: #ccad47;
$app-col-theme-5: #a46eb0;
$app-col-theme-6: #9cad51;
$app-col-theme-7: #00a09f;
$app-col-theme-8: #da804d;

$app-col-theme-darker-1: #A45156;
$app-col-theme-darker-2: #288561;
$app-col-theme-darker-3: #006D99;
$app-col-theme-darker-4: #A38A39;
$app-col-theme-darker-5: #83588D;
$app-col-theme-darker-6: #7D8A41;
$app-col-theme-darker-7: #00807F;
$app-col-theme-darker-8: #AE663E;

